<%- include('../partials/header'); -%>

<div class="main_wrapper">
    <div class="sidebar">
        <%- include('../partials/sidebar'); -%>
    </div>
    <div class="main">
        <div class="main_nav">
            <div class="main_nav_addons">
                nawigacja tutaj będzie
            </div>
            <div class="main_nav_login_wrapper">
                <% if(user) { %>
                    <p> Witaj <%= user %> </p>
                    <p><a href="/logout"><i class='bx bxs-log-in'></i></a></p>
                <% } else { %>
                    <a href="/login.html">Zaloguj</a>
                 <% } %>
            </div>
        </div>
        <div class="main-content">
            <%- body %>
        </div>
    </div>
     
</div> 



<%- include('../partials/footer'); -%>