<%- include('../partials/header'); -%>

<div class="main_wrapper">
    <div class="sidebar">
        <%- include('../partials/sidebar'); -%>
    </div>
    <div class="main">
        <div class="main_nav">
            <%- include('../partials/main_nav'); -%>
        </div>
        <div class="main-content">
            <%- body %>
        </div>
    </div>
     
</div> 



<%- include('../partials/footer'); -%>