<link rel="stylesheet" href="/css/orders.css">

<div class="table_filtr">
    <div class="add_btn">
        <button class="primary">Dodaj zlecenie</button>
        <p class="order_list_title">Lista zamówień ZD</p>
    </div>
    <div class="filters_orders">
        <div class="filter_group_1">
            <div class="search_name">
                <input type="search" name="name" id="" placeholder="szukaj po nazwie" value="<%=name%>">
                <input type="search" name="nrFile" id="" placeholder="szukaj po nr rys" value="<%=fileNo%>">
                <div class="select_machine_wrapper">
                    <select name="machine" id="" class="choose_machine">
                        <option value="wybierz">wybierz</option>
                        <option value="Markforged">Markforged</option>
                        <option value="Ubot S320">Ubot S320</option>
                        <option value="Ubot Tower S+">Ubot Tower S+</option>
                        <option value="Urbicum">Urbicum</option>
                    </select>
                </div>
                <div class="select_machine_status">
                    <select name="status" id="" class="choose_status">
                        <option value="wybierz">wybierz</option>
                        <option value="wydano">Wydane z WZ</option>
                        <option value="zrealizowano">Zrealizowane</option>
                        <option value="wrealizacji">W realizacji</option>
                        <option value="przygotowane">Przygotowane</option>
                        <option value="nowe">Nowe zamówienie</option>
                    </select>
                </div>
                <button class="search"><i class='bx bx-search' ></i></button>
            </div>
        </div>
    </div>
</div>
<div class="table">
    <table>
    <thead>
        <tr>
            <th nowrap></th>
            <th nowrap>Nr ZD</th>
            <th nowrap>Nazwa</th>
            <th nowrap>Nr rys</th>
            <th nowrap>Status</th>
            <th nowrap>Projekt</th>
            <th nowrap>Materiał</th>
            <th nowrap>Kolor</th>
            <th nowrap>Utworzono</th>
            <th nowrap>Ilość</th>
            <th nowrap>Bryła</th>
            <th nowrap>Edytuj</th>
        </tr>
    </thead>
    <tbody>
        <% result.forEach(item => { %>
            <tr class="order_list">
                <td nowrap><input type="checkbox" name="" id=""></td>
                <td nowrap>ZD/245-1</td>
                <td nowrap><%= item.name %></td> 
                <td nowrap><div class="drugi"><%= item.fileNo %></div></td> 
                <td nowrap><p class="status">W realizacji</p></td> 
                <td nowrap><%= item.project %></td> 
                <td nowrap><%= item.material %></td> 
                <td nowrap><%= item.color %></td> 
                <td nowrap>16:30 2021-10-26</td> 
                <td nowrap><%= item.count %></td> 
                <td nowrap><a href="<%= item.model %>" target="_blank" class="link_model">Link</a></td> 
                <td nowrap class="edit_order" data-id="<%= item.name %>">Edytuj</td> 
            </tr>
        <% }); %>
    </tbody> 
</table>
</div>

<section class="pagination_order">
    <div class="page_counter">
        Strona 1 z <span><%= pageNo %></span> 
    </div>
    <% for(let i = 1; i <= pageNo; i++) {  %>
    <li class="page active"><%= i %></li>
    <% } %>

</section>

<%- include('../partials/addOrder') %>
<script src="/js/orders.js"></script>

