<link rel="stylesheet" href="/css/orders.css">

<div class="table_filtr">
    <div class="add_btn">
        <button class="primary">Duplikuj</button>
        <p class="order_list_title">Lista zamówień ZD</p>
    </div>
    <div class="filters_orders">
        <div class="filter_group_1">
            <div class="search_name">
                <input type="search" name="name" id="" placeholder="szukaj po nazwie" value="<%=name%>">
                <input type="search" name="nrFile" id="" placeholder="szukaj po nr rys" value="<%=fileNo%>">
                <div class="select_machine_wrapper">
                    <select name="machine" id="" class="choose_machine">
                        <option style="display:none" selected><%=project%></option>
                        <option >wszystko</option>
                        <option >Alihon 2R-100</option>
                        <option >6R-32 Alihon</option>
                        <option >Classic 6+6 ESP</option>
                        <option >Classic Melissa</option>
                        <option >RTU 1000 Globe</option>
                    </select>
                </div>
                <div class="select_machine_status">
                    <select name="status" id="" class="choose_status">
                        <option style="display:none" selected><%=chooseStatus%></option>
                        <option >wszystko</option>
                        <option >Nowo dodane</option>
                        <option >Przygotowane</option>
                        <option >W realizacji</option>
                        <option >Zrealizowane</option>
                        <option >Błąd wydruku</option>
                        <option >Wydane z WZ</option>
                    </select>
                </div>
                <button class="search"><i class='bx bx-search' ></i></button>
            </div>
        </div>
    </div>
</div>
<div class="table">
    <table>
    <thead>
        <tr>
            <th nowrap><i class='bx bx-filter reset_filtr'></i></th>
            <th nowrap>Nr ZP</th>
            <th nowrap>Nazwa</th>
            <th nowrap>Nr rys</th>
            <th nowrap>Drukarka</th>
            <th nowrap>Ilość</th>
            <th nowrap>Status</th>
            <th nowrap>Data startu</th>
            <th nowrap>Edytuj</th>
            <th nowrap>X</th>            
        </tr>
    </thead>
    <tbody>
        <% result.forEach(item => { %>
            <tr class="order_list">
                <td nowrap><input type="checkbox" name="" id=""></td>
                <td nowrap>ZP/245-1/245</td>
                <td nowrap><%= item.name %></td> 
                <td nowrap><div class="drugi"><%= item.fileNo %></div></td> 
                <td nowrap><span class="dot"></span><%= item.project %></td> 
                <td nowrap><%= item.count %></td> 
                <td nowrap><p class="status"><%= item.status %></p></td> 
                <td nowrap>2021-10-26 16:30</td> 
                <td nowrap class="edit_order" data-id="<%= item.name %>">Edytuj</td> 
                <td nowrap class="delete_order" data-id="<%= item.name %>"><i class='bx bxs-trash' style="color:var(--second-color)"></i></td> 
            </tr>
        <% }); %>
    </tbody> 
</table>
</div>
<section class="pagination_order">
    <div class="page_counter">
        Strona <span class="active_page"><%= page %></span> z <span><%= pageNo %></span> 
    </div>
    <% for(let i = 1; i <= pageNo; i++) {  %>
        <% if(page === i) { %>
            <li class="page active"><%= i %></li>
       <% } else { %>
            <li class="page"><%= i %></li> 
    <% }} %>

</section>


<%- include('../partials/addOrder') %>
<script src="/js/orders.js"></script>

